.cases {
width: 1360px;

align-items: center;
}

.case{
display: flex;
flex-wrap: wrap;
}

.case-about{
    color: #333333;
    margin-bottom: 7px;
}

.case-tital{
font-size: 38px;
line-height: 1.26;

margin-bottom: 34px;
color: #333333;
}

.case-discription{
margin-bottom: 39px;
color: #333333;
}

.case-list{
margin-right: 8px;
margin-bottom: 7px;
border: 0;
}

.case-list:nth-child(4n){
margin-right: 0;
}

.case-list:nth-last-child(-n+4){
margin-bottom: 0;  
}

.case-link{
display: block;
}

.case-link:hover,
.case-link:focus {
box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
0px 4px 4px 0px rgba(0, 0, 0, 0.06),
0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}