.features__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  font-family: 'Open Sans';
  width: 1360px;
  height: 275px;
  left: 0px;
  top: 768px;

  background: #f4f4f4;
  border-radius: 0px;

  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.features__list {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 71px;
}

.features__item {
}
.features__titel {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  /* identical to box height, or 165% */

  text-align: center;

  color: #333333;

  margin-bottom: 16px;
}

.features__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  /* or 156% */

  text-align: center;

  color: #333333;
}
