.team__suptitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  color: #333333;
  text-align: center;
}
.team__title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 48px;
  color: #333333;
  text-align: center;
}
.team__text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #333333;
  text-align: center;
}
.workers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}
