<section class="blog">
  <div class="blog__post">
    <p class="blog__data">April 16 2020</p>
    <p class="blog__title">Blog Post One</p>
    <p class="blog__text">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
      dignissimos quae laudantium asperiores nam aliquid impedit harum illum
      dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores
      deleniti?
    </p>
    <button class="blog__button" type="button"></button>
  </div>
  <div class="blog__image">
    <img src="./images/cap-coffe.jpg" alt="рабочий стол" />
  </div>
</section>
