<section class="cases">
    <p class="case-about">This is what we do</p>
    <h2 class="case-tital">Business Cases</h2>
    <p class="case-discription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <ul class="list  case">
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle.jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(1).jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(2).jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(3).jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(4).jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(5).jpg" alt="" width="320" 
              />
            </a>
          </li>
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(6).jpg" alt="" width="320" 
              />
            </a>
          </li>        
          <li class="case-list">
            <a href="#" class="link"
              ><img src="./images/cases/rectangle(7).jpg" alt="" width="320" 
              />
            </a>
          </li>          
         </div>
        </ul>
</section>