<footer class="page-footer">
  <div class="container">
    <div class="page-footer-social">
      <ul class="social-list list">
        <li class="social-item">
          <a class="social-link link" href="">
            <img
              src="./images/facebook.svg"
              alt="facebook icon"
              width="35"
              haight="35"
            />
          </a>
        </li>
        <li class="social-item">
          <a class="social-link link" href="">
            <img
              src="./images/twitter.svg"
              alt="facebook icon"
              width="35"
              haight="35"
            />
          </a>
        </li>
        <li class="social-item">
          <a class="social-link link" href="">
            <img
              src="./images/youtube.svg"
              alt="facebook icon"
              width="35"
              haight="35"
            />
          </a>
        </li>
        <li class="social-item">
          <a class="social-link link" href="">
            <img
              src="./images/instagram.svg"
              alt="facebook icon"
              width="35"
              haight="35"
            />
          </a>
        </li>
      </ul>
    </div>
    <p>Copyright &copy; 2021 - FinanceLedger</p>
  </div>
</footer>
