<section class="hero">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, dolorem.
  </p>
  <a href="#" class="js-open-modal" data-modal="1">Открыть окно 1</a>
  <div class="modal" data-modal="1">
    <!--   Svg иконка для закрытия окна  -->
    <svg
      class="modal__cross js-modal-close"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
    >
      <path
        d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
      />
    </svg>
    <p class="modal__title">Заголовок окна 1</p>
  </div>
  <section class="fon section">
    <div class="container">
      <!-- Slider main container -->
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <h1 class="busines">The Sky Is The Limit</h1>
            <p class="busines-prevju">
              We provide world class financial assistance
            </p>
          </div>
          <div class="swiper-slide">
            <h1 class="busines">hellow</h1>
            <p class="busines-prevju">Lorem ipsum dolor sit amet.</p>
          </div>
          <div class="swiper-slide">
            <h1 class="busines">hellow world</h1>
            <p class="busines-prevju">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti,
              a.
            </p>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <button class="order" type="button" data-modal-open>Read More</button>
    </div>
  </section>
</section>
