<section class="team">
  <p class="team__suptitle">Who we are</p>
  <h2 class="team__title">Our Professional Team</h2>
  <p class="team__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto,
    sapiente!
  </p>
  <ul class="workers list">
    <li class="workers__item">
      <img src="./images/team1.jpg" alt="John Doe" width="420" />
      <div class="worker__info">
        <h3 class="worker__title">John Doe</h3>
        <p class="worker__text">President</p>
      </div>
    </li>

    <li class="workers__item">
      <img src="./images/team2.jpg" alt="Маркетолог Jane Doe" width="420" />
      <div class="worker__info">
        <h3 class="worker__title">Jane Doe</h3>
        <p class="worker__text">Marketing</p>
      </div>
    </li>
    <li class="workers__item">
      <img src="./images/team3.jpg" alt="Steve Smith" width="420" />
      <div class="worker__info">
        <h3 class="worker__title">Steve Smith</h3>
        <p class="worker__text">Marketing Head</p>
      </div>
    </li>
  </ul>
</section>
